.promo {
    display: flex;
    clear: both;

    .image {
        float: none;
        margin-bottom: 3rem;
        order: 0;
        flex-basis: 40%;

        &.right {
            order: 1;
        }
    }

    p {
        flex-basis: 80%
    }
    
    @include breakpoint(small) {
        display: block;

        .image {
            display: block;
            margin: 2rem auto;
            max-width: 50%;
        }
    }
}
