.promo {
    display: flex;
    clear: both;
    margin: 0 0 _size(element-margin) 0;

    .image {
        float: none;
        margin-bottom: 3rem;
        order: 0;
        flex-basis: 40%;

        &.right {
            order: 1;
        }
    }

    .promo__body {
        flex-basis: 80%
    }

    .promo__title {
        span {
    		font-family: _font(family);
    		font-weight: _font(weight);
    		font-size: 1rem;
            letter-spacing: 0;
        }
    }

    @include breakpoint(small) {
        display: block;

        .image {
            display: block;
            margin: 2rem auto;
            max-width: 50%;
        }
    }
}
