<div id="contact">
    <footer id="footer">
      <section>
        <form method="POST" action="https://formspree.io/{{site.email}}">
          <div class="field">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="field">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="3"></textarea>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send Message" /></li>
          </ul>
        </form>
      </section>
      <section class="split contact">
        <section class="alt">
          <h3>Location</h3>
          <p>{{site.location}}</p>
        </section>
        <section>
          <h3>Phone</h3>
          <p><a href="tel:{{site.phone}}">{{site.phone}}</a></p>
        </section>
        <section>
          <h3>Email</h3>
          <p><a href="mailto:{{site.email}}">{{site.email}}</a></p>
        </section>
        <section>
          <h3>Social</h3>
          <ul class="icons alt">
            {% if site.facebook %}
            <li><a href="https://facebook.com/{{site.facebook}}" class="icon fa-facebook" rel="nofollow"><span class="label">Facebook</span></a></li>
            {% endif %}
            {% if site.instagram %}
            <li><a href="https://instagram.com/{{site.instagram}}" class="icon fa-instagram" rel="nofollow"><span class="label">Instagram</span></a></li>
            {% endif %}
            {% if site.youtube %}
            <li><a href="https://www.youtube.com/channel/{{site.youtube}}" class="icon fa-youtube-play" rel="nofollow"><span class="label">YouTube</span></a></li>
            {% endif %}
            {% if site.twitter %}
            <li><a href="https://twitter.com/{{site.twitter}}" class="icon fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
            {% endif %}
            {% if site.github %}
            <li><a href="https://github.com/{{site.github}}" class="icon fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
            {% endif %}
          </ul>
        </section>
      </section>
    </footer>
    <!-- Copyright -->
    <div id="copyright">
      <ul><li>Website by <a href="https://czmj.github.io">Clara Jordan</a></li><li>Based on a design by <a href="https://html5up.net">HTML5 UP</a></li></ul>
    </div>
</div>
