{% assign post_count=site.posts | size %}

<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Home</a></li>
  <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">About Us</a></li>
  {% if post_count > 0 %}
  <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Blog</a></li>
  {% endif %}
  <li class="{% if page.url contains '/gigs/' %} active {% endif %}"><a href="{{ "/gigs/" | absolute_url }}">Gigs</a></li>
  <li class="{% if page.url contains '/gallery/' %} active {% endif %}"><a href="{{ "/gallery/" | absolute_url }}">Images</a></li>
  <li><a href="#contact" class="scrolly">Contact</a></li>
</ul>
